<?xml version="1.0"?>
<model>
  <name>lib_shelf</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>BookRobot Team</name>
    <email>team@bookrobot.com</email>
  </author>

  <description>
    A complete library shelf unit with bookshelf frame and arranged bookcubes
  </description>
</model>
